@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="https://www.idfcfirstbank.com/content/dam/idfcfirstbank/images/blog/finance/what-is-atm-717x404.jpg" class="rounded mx-auto d-block" alt="ATM Machine">
</div>


